@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    display: none;
}

body , html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Bricolage Grotesque Variable', sans-serif;
    @apply bg-white text-black
}

.body-text {
    @apply text-gray-600
}

.lucide {
    height: 15px;
    width: 15px;
}